@import '../responsive';
@import 'global';

.jc-nav {
  @include jc-toolbar;
  .mat-toolbar {
    .img-container {
      height: 100%;
      img {
        max-height: 100%;
      }
    }
    .nav-items{
      display: flex;
      flex: 1 1;
      justify-content: flex-end;
    }
    .nav-links{
      padding-right: 10px;
      .nav-link {
        @include jc-link;
        font-size: $font-md;
        padding-left: 20px;
        transition: color 0.1s;
        &:hover{
          color: $link-hover-color;
        }
        .link-text{
          font-weight: 100;
        }
      }
    }
    .menu-button-container{
      max-width: 0;
      .menu-button {
        display: none;
      }
    }
  }

  @include phone {
    .mat-toolbar {
      padding: $page-padding-phone;
      height: $nav-height-phone;
      .nav-links {
        display: none;
      }
      .menu-button-container {
        max-width: initial;
        .menu-button {
          display: initial;
        }
      }
    }
  }
}
