@import 'src/app/global';

.about-page{
  display: flex;

  .bio-container {
    flex: 1 0;
    padding-right: 2vw;
    font-size: $font-sm;
    .name {
      font-size: $font-lg;
      font-weight: 700;
      padding-bottom: 10px;
    }
  
    .bio {
      padding-bottom: 5px;
    }

    .instagram a {
      color: inherit;
    }

    .bio-image {
      padding-top: 20px;
    }
  }

  .history {
    flex: 2 0;
    .history-title {
      font-size: $font-xs;
      padding: 10px 0;
      font-weight: 500;
    }
    .section-projects{
      display: flex;
      padding-bottom: 5px;
      .project-title, .project-org {
        font-size: $font-xxs;
      }
      .project-title {
        font-style: italic;
      }
      .project-org{
        padding-left: 10px;
      }
    }

  }
}
