<div class="gallery-page page">

  <div 
    class="gallery-detail"
    *ngIf="gallery && gallery.hasDetail()">
    <div class="gallery-title">
      {{ gallery.title }}
    </div>
    <div
      class="original-credits"
      *ngIf="gallery.hasOriginalCredits()">
      <div
        class="original-credit"
        *ngFor="let originalCredit of gallery.originalCredits;">
        {{ originalCredit }}
      </div>
    </div>
    <div class="self-credit">
      {{ gallery.credit }}
    </div>
    <div class="extra-credit">
      <div 
        class="extra-credit-item"
        *ngFor="let extraCredit of gallery.description;">
        {{ extraCredit }}
      </div>
    </div>
    <div class="detail-footer">
      <div class="footer-year">
        {{ gallery.year }}
      </div>
    </div>
    <div class="organization">
      <div class="organization-title">
        {{ gallery.organization }}
      </div>
    </div>
    <div
      class="media-and-press"
      *ngIf="gallery.hasMedia()">
      <div class="media-and-press-heading">
        Media & Press
      </div>
      <div class="media-items">
        <div
          class="media-item"
          *ngFor="let mediaItem of gallery.mediaAndPress;">
          <div
            class="media-item-description"
            *ngIf="mediaItem.description">
            {{ mediaItem.description }}
          </div>
          <span *ngIf="mediaItem.description && mediaItem.link">
            &nbsp;
          </span>
          <div class="media-source">
            <div
              class="media-item-link"
              *ngIf="mediaItem.link">
              <a
                href="{{mediaItem.link.uri}}"
                target="_blank">
                {{ mediaItem.link.label }}
              </a>
            </div>
            &nbsp;
            <div class="media-item-publication">
              {{ mediaItem.publication }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="gallery-images">
    <ngx-masonry
      [options]="masonryOptions"
      [useImagesLoaded]="true">
      <ngxMasonryItem
        *ngFor="let galleryItem of lightboxImages; let idx=index;"
        (click)="openLightbox(idx)"
        >
        <div class="thumbnail-container">
          <img [src]="galleryItem.thumb">
        </div>
      </ngxMasonryItem>
    </ngx-masonry>
  </div>

</div>
