@import 'src/app/global.scss';
@import 'src/app/responsive.scss';

.gallery-page {

  // BEGIN Media query specific styles

  .gallery-image, .gallery-detail{
    display: inline-block;
    vertical-align: top;
    @include phone {
      display: block;
    }
  }

  .gallery-image {
    max-width: 40%;
    overflow: hidden;
    height: 50vh;
    @include phone {
      text-align: center;
      max-width: 100%;
      height: auto;
      max-height: 60vh
    }
  }

  .gallery-detail {
    max-width: 60%;
    padding-left: 5vw;
    @include phone {
      padding-left: 0;
      max-width: 100%;
    }

    .organization{
      font-size: $font-lg;
      @include phone {
        font-size: $font-xmd;
      }
      .gallery-title{
        font-size: $font-sm;
        @include phone {
          font-size: $font-xs;
        }
      }
    }

    .self-credit {
      font-size: $font-md;
      @include phone {
        font-size: $font-sm;
      }
    }
    .extra-credit {
      padding-top: 10px;
      @include phone {
        padding-top: 2px;
      }
      .extra-credit-item {
        font-size: $font-sm;
        padding-top: 5px;
        @include phone {
          font-size: $font-xxs;
          padding-top: 2px;
        }
      }
    }
    .detail-footer{
      font-size: $font-md;
      padding-top: 40px;
      @include phone {
        font-size: $font-sm;
        padding-top: 15px;
      }
    }


  }



  // END Media query specific styles

  .gallery-image {
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  .gallery-detail {
    box-sizing: border-box;
    .organization{
      display: inline-block;

      .gallery-title {
        font-style: italic;
        text-align: right;
      }
    }

    .detail-footer{
      display: flex;
      justify-content: space-between;
      .footer-location{
        padding-left: 15px;
      }
    }
  }

  .gallery-images {
    padding-top: 25px;
  }
}