
@import 'src/app/global.scss';

@mixin smallScreenFooterWrap {
  @media only screen and (max-width: 650px) {
    @content;
  }
}

.contact-footer {
  @include jc-toolbar {
    font-weight: 100;
    height: auto;
    padding: 10px;
    .mat-toolbar-row{
      height: auto;
    }
    .jc-footer {
      display: flex;
      width: 100%;
      @include smallScreenFooterWrap {
        flex-direction: column;
      }
      .jc-toolbar-row {
        flex: 1 1;
        font-size: $font-xs;
        box-sizing: border-box;
        text-align: center;
        width: 100%;
        @include smallScreenFooterWrap {
          font-size: $font-xxs;
          line-height: 20px;
        }

        &.jc-copyright {
          text-align: left;
          @include smallScreenFooterWrap {
            text-align: center;
            margin-left: -5px;
          }
        }
        &.jc-contact {
          & > a {
            color: inherit;
          }
          text-align: right;
          @include smallScreenFooterWrap {
            text-align: center;
          }
        }
      }
    }
  };
  box-shadow: 0 -2px 3px 0 rgba(0,0,0,0.2);
}
