<div class="contact-footer">
  <mat-toolbar>
    <mat-toolbar-row>
      <div class="jc-footer">
        <div class="jc-toolbar-row jc-copyright">
          &copy; 2022 JANICE CHAN
        </div>
        <div class="jc-toolbar-row">
          janicechan.design
        </div>
        <div class="jc-toolbar-row jc-contact">
          <a href="mailto:contact@janicechan.design">
            contact@janicechan.design
          </a>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
