<div class="contact-footer">
  <mat-toolbar>
    <mat-toolbar-row>
      <div class="jc-toolbar-row">
        JANICECHAN.DESIGN
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <div class="jc-toolbar-row">
        <a href="mailto:contact@janicechan.design">
            CONTACT@JANICECHAN.DESIGN
        </a>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <div class="jc-toolbar-row">
        &copy; Copyright 2018 JANICE CHAN DESIGNS
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
